@tailwind base;
@tailwind components;
@tailwind utilities;
@import './styles/editor.css';

body {
  font-family: sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #fffffe;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: #43649d;
    --primary-foreground: 0 0% 98%;
    --secondary: #96b0e4;
    --secondary-foreground: 240 5.9% 10%;
    --muted: #96b0e4;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: #edf1fa;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --header-bg: rgba(255, 255, 255, 0.3);
  }

  .dark {
    --background: radial-gradient(circle at center, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 20, 0.9) 50%, rgba(0, 0, 50, 0.8) 100%);
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: #fff;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: #2b4369;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --header-bg: radial-gradient(circle at center, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 20, 0.9) 50%, rgba(0, 0, 50, 0.8) 100%);
  }
}

/* ReactFlow 背景渐变 */
.dark .react-flow {
  background: radial-gradient(circle at center, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 20, 0.9) 50%, rgba(0, 0, 50, 0.8) 100%);
}

/* 确保背景组件透明 */
.dark .react-flow__background {
  background-color: transparent;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.gradient-bg {
  background: radial-gradient(circle at center,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 20, 0.9) 50%,
      rgba(0, 0, 50, 0.8) 100%);
}

.dotted-bg {
  background-image: radial-gradient(#A0A0A0 0.5px, transparent 0.5px);
  /* 使用非常小的點來模擬你需要的效果 */
  /* background-size: 15px 15px; */
  /* 增大間距，讓點之間更加寬鬆 */
  /* color: #DDDDDF; */
  /* 這個顏色用於影響點的顏色 */
  background: linear-gradient(to bottom right, #ffff, #f3f4f6);
}

.dark .dotted-bg {
  background-color: transparent;
  background: radial-gradient(circle at center, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 20, 0.9) 50%, rgba(0, 0, 50, 0.8) 100%);
}

/* Editor */
.form-text-field,
.form-menu-field {
  /* font-size: .8rem; */
  display: inline-flex;       
  align-items: center;        
  background-color: #e2e8f0;  
  padding: 0px 6px;           
  border-radius: 4px;         
  margin: 0 2px;             
  user-select: none;         
  cursor: pointer;            
  border: 1px solid #6096dd;  
}

/* 暗色模式下的背景色 */
.dark .form-text-field {
  background-color: #374151;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}


/* 調整 .animatedLine 以呈現水平線動畫 */
.lines {
  position: relative;
  width: 50%;
  height: 1px;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto; 
}

.animatedLine {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgba(0,0,0,0.04);
  overflow: hidden;
}
.animatedLine:nth-child(1)::after {
    animation-delay: -2s;
}
.animatedLine::after {
    content: '';
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    width: 90px;
    height: 2px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #000000 75%, #000000 100%);
    animation: animatedLine 8s 0s infinite;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    animation-fill-mode: forwards;
}

@keyframes animatedLine {
  0% {
    left: -150px;
  }
  60% {
    left: calc(100% + 150px);
  }
  100% {
    left: calc(100% + 150px);
  }
}

/* 定義文字遮罩動畫 */
.text-mask {
  display: inline-block;
  background: linear-gradient(90deg, #43649b, #94aee3, #cad5f0);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textMaskAnimation 4s linear infinite;
}

@keyframes textMaskAnimation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}